@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-white font-jakarta bg-primaryBg;
  }
  :root {
    --radius: 0.5rem;
  }
}

@layer components {
  .menu li a{
    @apply text-[14px] sm:text-[16px] xl:text-[18px] ; 
  }
  .menu li p {
    @apply text-[18px] text-white font-medium duration-200 ease-in-out hover:text-btnBg;
  }
  .menu .dropdown-menu {
    @apply bg-primaryBlack py-3 w-[200px] rounded-[12px] overflow-hidden min-h-[100px] duration-200 ease-in-out;
  }
  .menu .dropdown-menu li a {
    @apply block px-5 py-2 duration-200 ease-in-out hover:bg-btnBg hover:text-white;
  }
  .social-icons li a {
    @apply text-[25px] sm:text-[30px] hover:text-btnBg duration-200 ease-in-out;
  }
  .footer-bottom-menu li a {
    @apply underline duration-200 hover:text-btnBg;
  }
  .title--xl {
    @apply text-[26px] md:text-[30px] xl:text-[38px] 2xl:text-[58px] font-semibold leading-[38px] md:leading-[48px] 2xl:leading-[88px];
  }
  .title--lg {
    @apply text-[24px] md:text-[27px] lg:text-[36px] 2xl:text-[40px] font-semibold leading-normal;
  }
  .title--sm {
    @apply text-[20px] 2xl:text-[24px] font-semibold;
  }
  .hero-section:after {
    content: "";
    @apply absolute top-0 left-0 w-full h-full bg-no-repeat bg-cover z-[-1];
    background-image: url(./assets/images/pattern/hero-bg-pattern.png);
  }
  .row-custom {
    margin-left: -16px;
    margin-right: -16px;
  }
  .custom-wrap {
    padding-left: 16px;
    padding-right: 16px;
  }
  .menu li a {
    @apply relative z-[1];
  }
  .menu li a.active:after,
  .menu li p.active:after {
    content: "";
    @apply absolute bottom-[-10px] left-1/2 translate-x-[-50%] w-[26px] h-[2px] rounded-[5px] bg-white;
  }
  .menu .dropdown-menu li a.active:after {
    display: none;
  }
  .faq-accordion button {
    @apply p-0;
  }
  .faq-accordion button:hover {
    text-decoration: none;
  }
  .faq-accordion button svg {
    @apply w-6 h-6;
  }
  .revolution-card p {
    @apply leading-[32px];
  }
  .hero-section:before{
    content: '';
    @apply absolute bottom-0 left-0 right-0 h-[30%] w-full;
    background: linear-gradient(0deg, rgba(12,8,31,1) 0%, rgba(255,255,255,0) 62%);
  }
}
.calendly-inline-widget {
  @apply !h-[700px];
}
